*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Phần logo */
.navbar-logo{
    margin-left: 1%;
    font-size: large;
}
.navbar-logo a{
    display: flex;
    text-decoration: none;
    align-items: center;
}
.navbar-logo span{
    color: whitesmoke;  
    font-weight: bolder;
}
/* End logo */

/* Phần toggle nav */
.navbar-toggler{
    cursor: pointer;
    color: whitesmoke;
}
/* End toggle nav */

/* Phần collapse */
#navbar-nav ul{
    display: flex;
    width: 100%;
    margin-left: 5%;
    align-items: center;
}
#navbar-nav ul li{
    font-weight: 400;
    margin: 0 1%;
    padding: 1%;
}
#navbar-nav ul li a{
    text-decoration: none;
    color: whitesmoke;
}
#navbar-nav ul li.active{
    background-color: #ff8181;
    border-radius: 100px;
}
#navbar-nav ul li:hover{
    background-color: #ff8181;
    color: #ff8181;
    border-radius: 100px;
    text-decoration: none;
}
/* End collapse */

/* Search */
#search-box{
    display: flex;
    background-color: white;
    padding: 8px 15px;
    border-radius: 50px;
    width: 240px;
}
#search-box input{
    border: 1px solid white;
}
#search-box button{
    background-color: white;
    border: none;
}

/* End search */

/* Phần dropdown */
#navbar-nav ul li .dropdownSanPham{
    position: absolute;
    width: 800px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    top: 10px;
}
#navbar-nav ul li .dropdownSanPham .card-info{
    padding: 5%;
}
#navbar-nav ul li .dropdownSanPham .card-info h5{
    color: black;
}
#navbar-nav ul li .dropdownSanPham .card-info a{
    font-size: 15px;
    font-weight: 500;
    color: grey ;
}
#navbar-nav ul li .dropdownSanPham .card-info a:hover{
    color: #ff8181 ;
}
#navbar-nav ul li .dropdownSanPham .card-info hr{
    border: 2px solid black;
    width: 15%;
    margin-right: 100%;
}
#navbar-nav ul li .dropdownSanPham .card-info .banner3{
    margin-top: 20%;
    background-image: url(../img/banner3.jpg);
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}
#navbar-nav ul li .dropdownSanPham .card-info .banner3:hover{
    transform: scale(1.05);
}
#navbar-nav ul li .dropdownSanPham .card-info .banner4{
    margin-top: 5%;
    background-image: url(../img/banner4.jpg);
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    background-repeat: no-repeat;
    transition: background-image 0.5s ease-in-out;
}
#navbar-nav ul li .dropdownSanPham .card-info .banner4:hover{
    background-image: url(../img/banner6.png);
}
#navbar-nav ul li .dropdownSanPham .card-info .banner5{
    margin-top: 20%;
    background-image: url(../img/banner5.webp);
    width: 150px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    transition: background-image 0.5s ease-in-out;
}
#navbar-nav ul li .dropdownSanPham .card-info .banner5:hover{
    background-image: url(../img/banner7.jpg);
}
#navbar-nav ul li .dropdownSanPham{
    display: none;
}
#navbar-nav ul li:hover .dropdownSanPham{
    display: block;
}
/* End dropdown */

/* footer */
footer{
    background-color: rgb(85, 213, 210);
}
footer .logo-footer{
    padding-left: 10%;
    padding-top: 5%;
}
footer .inputEmail{
    padding-left: 10%;
    padding-top: 1%;
}
footer .inputEmail input{
    height: 50px;
    width: 300px;
    color: rgb(85, 213, 210);
    background-color: #eee;
    border-radius: 100px;
    border: 0px;
    padding: 10px 20px;
    white-space: pre;
}
footer .title-footer{
    margin-top: 10%;
    color: aliceblue;
    font-size: small;
    font-weight: bold;
    opacity: 70%;
}

footer .info-footer{
    color: aliceblue;
    font-weight: 500;
}
footer .info-footer div{
    margin: 5% 0;
}
footer .info-footer div a{
    color: white;
    font-size: large;
    text-decoration: none;
}
/* end footer */