.container-fluid .row .c a{
    text-decoration: none;
    color: black;
}
.container-fluid .row .c a:hover {
    display: block;
    width: 110%;
    opacity: 80%;
}
.container-fluid .row .c a img{
    border-radius: 10px;
}
.container-fluid .row .c a .price-glasses{
    background-color: rgb(85, 213, 210);
    color: white;
    font-weight: bold;
    padding: 8px 10px;
    border-radius: 50px;
    text-align: center;
}
.container-fluid .row .c a .dangBanChay{
    background-color: red;
    color: white;
    border-radius: 50px;
    text-align: center;
    padding: 8px 10px;
    margin-top: 5px;
    font-weight: bold;
}
#SanPhamBanChay .groupSanPhamBanChay .container .row .Card{
    height: 400px;
    width: 100%;
}
#SanPhamBanChay .groupSanPhamBanChay .container .row .Card .main-image{
    width: 100%;
    border-radius: 10px;
}
#SanPhamBanChay .groupSanPhamBanChay .container .row .Card .main-image-container img{
    display: block;
    width: 100%;
    border-radius: 10px;
}
#SanPhamBanChay .groupSanPhamBanChay .container .row .Card .name{
    text-align: center;
    font-weight: 500;
}

.thumbnail-circle {
    width: 60px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.thumbnail-circle.active {
    border-color: orange;   
}
